.contain{display: flex}
.contain>div{flex:1;text-align: center;color:#999999;height: 42px;line-height: 42px;}
.contain>div.tagactive{border-bottom: 1px solid #0e90d2;}
.live-tag{border:1px solid #DDDDDD;background: #F6F6F6;}
.loading{font-size: 16px;text-align: center;}