/*swiper*/

.c {*zoom:1;}
.cname{
    position: relative;
    top: -9px;
    padding: 0px;
    margin: 0px;
    color: #13b7f6;
    text-align: left;
    left: 12px;
}

.c:after {content:'';display:block;clear:both;height:0px;}
.img li{
    width: 33.3%;
    height:auto;
    float: left;
    padding: 4px;
    display: block;
}
.img ul{
    padding: 0;
}
.img img{
    width: 100%;
    height:auto;
}
.comments li{
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #fff;
    border-bottom: 1px solid #dedede;
    border-width: 1px 0;

}
.zans img{padding-right: 10px;margin-top: -4px;}
.zans{float: right;padding-top: 10px;}
.ctime{    display: inline-block;
    position: relative;
    top: -13px;
    left: 52px;}
.comments>li{
    width: 100%;
    position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #fff;
    border-bottom: 2px solid #dedede;
    padding: 16px 0 10px 0;
}
#btn{width: 17%;
    height: 31px;
    margin-left: 3px;
    padding: 4px;
    background-color: #13b7f6;
    border: none;
    border-radius: 7px;
    margin-right: 10px;}
#comment{    height: 31px;
    border-radius: 8px;
    width: 74%;
    padding: 5px 0px 5px 10px;
    margin: 5px 2px 5px 13px;
    border: 1px solid #dddddd; }
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    height: 100%;
}
.preloader,.preloader2{
    z-index: -9999999;
    position: absolute;
    left: 0;
    top: -100px;
    z-index: 0;
    color: #fff;
    text-align: center;
    line-height: 100px;
    height: 100px;
    width: 100%;
    opacity: 0;
    font-size: 25px;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    background: rgba(0,0,0,0.1);
}
.animate2{opacity: 1;top: 0;}
.preloader.visible {
    top: 0;
    opacity: 1;
}
.swiper-container,.swiper-container2{
    text-align: left !important;
    width: 100% ;
    height: 100%;
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 10;
}
.red-slide {
    background: #ca4040;
}
.blue-slide {
    background: #4390ee;
}
.boo{border-top: 1px solid #dddddd;position: fixed;bottom: 0;width: 100%;z-index: 888;background: white;}
.orange-slide {
    background: #ff8604;
}
.green-slide {
    background: white;
}
.pink-slide {
    background: #973e76;
}
.swiper-slide {
    position: relative;
    margin: 1px 0 5px 0;
    color: black;

    width: 100%;
    background: white;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -ms-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}
.swiper-slide-visible {
    opacity: 1;
}
.swiper-slide .title {
    font-style: italic;
    font-size: 42px;
}
#main{padding: 0;overflow: hidden}
.containA{display: flex; position: relative; z-index: 9999;}
.containA>div{flex:1;text-align: center;color:#999999;height: 42px;line-height: 42px;}
.containA>div.tagactive{border-bottom: 1px solid #0e90d2;}
.live-tag{background: #F6F6F6;width: 100%}
.loading{font-size: 16px;text-align: center;}
.swiper-wrapper{width: 100% !important;}
.section{display: flex;overflow: hidden;position: relative;}
.blueI{
    color: #13b7f6;
    width: 5px;
    height: 5px;
    position: relative;
    background: #13b7f6;
    top: 14px;
    left: -22px;}
.out{
    position: absolute;

    left: 15px;
    border-color: transparent #ffffff transparent transparent;
    border-style: dashed dashed solid dashed;
    border-width: 11px;
    color: #13b7f6;
}
.main_content{padding: 15px;
    padding-top: 0;}
.main_content >div:nth-child(2),.time{
    margin-top: 10px;
    color: #999999;
    font-size: 16px;
}

.move{border-left:1px solid #dddddd; margin-left: 17px;margin-right: 5px;padding: 20px}